<link href='https://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>
<div id="meter" class="icon-microphone"><span></span></div>
<div id="db-level"></div>
<div id="start"></div>
<div class="rotulo"></div>
<div class="confeti"><span class="confetiContent"></span></div>
<div class="maxruido"></div>
<div class="first-layer"></div>
<div class="container">
    <div class="move-element slideRight" ></div>
</div>
<script>

    // HTML elements
    var meterEl = document.getElementById('meter'),
        levelEl = document.querySelector('#meter > span');

    meterEl = document.getElementById('start');



    // Decibel Meter

    var meter = DecibelMeter.create('meter');
    var level = document.getElementById('db-level');


    // listen for audio sources to be ready

    meter.on('ready', function (meter, sources) {
        var mic = sources[0]; // select first mic
        meter.connect(mic); // connect to mic
    });

    // adjust displayed level when audio sampled

    meter.on('sample', function (dB, percent, level) {
        levelEl.style.height = (percent * 100) + '%';
    });



    // display sample levels
    meter.on('sample', function (dB, percent, value, max) {
        var realPercent = Math.round(percent * 100);
        var maxPercent = Math.round(max * 100);

        level.innerHTML = realPercent + ''; // display current dB level
        //console.log('level db:' + dB);

        $('.maxLevel').text(maxPercent)

        $('.move-element').css('transform', 'translateX('+realPercent+'%)');
        //$('.move-element').css('transform', 'translateY(-50px)');

        //if (realPercent>50){
        setTimeout(function(){
             meter.stopListening();
            $('.confeti').fadeIn();
            $('.confetiContent').text(maxPercent);
        }, 10000);

    });

    // change element class when meter starts listening

    meter.on('listen', function (meter) {
        meterEl.classList.add('active');
    });

    // change element class when meter stops listening

    meter.on('stop-listening', function (meter) {
        meterEl.classList.remove('active');
        levelEl.style.height = 0;
    });

    // clicking the meter element will toggle listening

    meterEl.addEventListener('click', function (e) {
        if (meter.listening)
            meter.stopListening();
        else{
           
            $('#start').fadeOut();
            setTimeout(function(){
                $('.rotulo').addClass('tossing');
                $('.rotulo').addClass('active');
                $('.maxruido').addClass('active');
            }, 1000);

            setTimeout(function(){
                $('#db-level').fadeIn();
                meter.listen();
            }, 2000);
        }
    });



</script>


<br>

